:root {
  --background: #f2994a;
  --gray-one: #333333;
  --gray-two: #4f4f4f;
  --gray-three: #bdbdbd;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

/*===================
  Section description
=====================*/
.description {
  margin: 3.2rem 0;
}
.description__title {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.description__content {
  position: relative;
}
.descriptions__dots::before {
  content: url(../assets/6dots.svg);
  position: absolute;
  top: 0.2rem;
}
.description__paragraph {
  margin: 0 0 1.2rem 2.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  color: var(--gray-two);
}
.description img {
  width: 100%;
  border-radius: 1.2rem;
}

/*============
  Section time
==============*/
.time {
  margin-bottom: 2.4rem;
}
.time__servings {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}
.time__servings-item,
.time__item-text {
  margin-left: 0.4rem;
}
.time__servings-item h3,
.time__item-text h3 {
  margin-bottom: -0.2rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--gray-three);
}
.time__servings-item small,
.time__item-text small {
  font-size: 1rem;
  font-weight: 500;
  color: var(--background);
}
.time__cook {
  display: flex;
}
.time__item {
  display: inherit;
}
.time__item:not(.time__item-three) {
  margin-right: 4.8rem;
}
.time__item-text small {
  color: var(--gray-one);
}
