:root {
  --background: #f2994a;
  --gray-one: #333333;
  --gray-two: #4f4f4f;
  --gray-three: #bdbdbd;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
}
.container {
  min-width: 350px;
  max-width: 1200px;
  margin: 0 auto;
}
