:root {
  --background: #f2994a;
  --gray-one: #333333;
  --gray-two: #4f4f4f;
  --gray-three: #bdbdbd;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.description {
  margin: 3.2rem 0;
}
.description__title {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.description__content {
  position: relative;
}
.descriptions__dots::before {
  content: url(../assets/6dots.svg);
  position: absolute;
  top: 0.2rem;
}
.description__paragraph {
  margin: 0 0 1.2rem 2.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  color: var(--gray-two);
}
.description img {
  width: 100%;
  border-radius: 1.2rem;
}
